__pycache__/
*.py[cod]
*.log

node_modules/
frontend/node_modules/
server/node_modules/
frontend/dist/

.env
server/.env

.vite/
.vue-global-types/

server/.gocache-build/
server/.gomodcache-build/
server/.gopath-build/
